body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  background-image: url('./bckg1.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
  text-shadow: 1px 1px 2px #fff;
}

h2 {
  font-size: 2em;
  margin: 20px 0;
  color: #444;
  text-shadow: 1px 1px 2px #eee;
}

.quiz-section {
  margin-bottom: 30px;
}

.quiz-question {
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  text-align: left;
}

.quiz-question h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}
.correct-answer {
  background-color: #28a745 !important; /* Solid green background */
  color: black !important; /* Keep the text color black */
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0; /* Space between options */
  list-style-type: none; /* Remove bullet points */
  display: block; /* Make it a block-level element */
  text-align: left; /* Align text to the left */
  width: 100%; /* Ensure the box takes up the full width of its container */
}


.quiz-question ul {
  list-style-type: none;
  padding: 0;
}

.quiz-question ul li {
  background: #e0e0e0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.quiz-question ul li:hover {
  background: #d0d0d0;
}

.explanation {
  margin-top: 10px;
  padding: 10px;
  background: #f9f9f9;
  border-left: 4px solid #007BFF;
  border-radius: 5px;
}

.explanation strong {
  color: #007BFF;
}

button {
  background: #d22222;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #d22222;
}

@media (max-width: 600px) {
  .app {
      padding: 10px;
  }

  h1 {
      font-size: 2em;
  }

  h2 {
      font-size: 1.5em;
  }

  .quiz-question h3 {
      font-size: 1.2em;
  }

  button {
      font-size: 0.9em;
  }
}
